{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
<!--    <div style="display:flex; justify-content:center; align-items:center;">-->
<!--    <ul>-->
<!--        {% for blogpost in blogposts %}-->
<!--            <li>-->
<!--                <h2>{{ blogpost.title }}</h2>-->
<!--                <p>{{ blogpost.description }}</p>-->
<!--                <img src="{{ blogpost.image.url }}" alt="{{ blogpost.title }}" style="height:50px; width:50px;">-->
<!--                <a href="{% url 'update_blogpost' blogpost.id %}">Update</a>-->
<!--                <a href="{% url 'delete_blogpost' blogpost.id %}">Delete</a>-->
<!--            </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->
    <div class="row mb-4" style="margin-left:20%">
                    <div class="col-md-6 mb-3" style="margin:10%">
                        <div class="card text-left">
                            <div class="card-body">
                                <div class="dropdown dropleft text-right w-50 float-right">
                                            <button class="btn bg-gray-100" id="dropdownMenuButton1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="nav-icon i-Gear-2"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1"><a class="dropdown-item" href="{% url 'create_blogpost' %}">Add new post</a><a class="dropdown-item" href="#">View All users</a></div>
                                        </div>
                                <h4 class="card-title mb-3">Blog Post</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <caption>List of Blogs Post</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Title</th>
                                                <th scope="col">Avatar</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                             {% for blogpost in blogposts %}
                                            <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <td>{{blogpost.title}}</td>
                                                <td><img class="rounded-circle m-0 avatar-sm-table" src="{{blogpost.image.url}}" alt="{{blogpost.title}}" /></td>
                                                <td>{{blogpost.description}}</td>

                                                <td>{{blogpost.category.name}}</td>
                                                <td><a class="text-success mr-2" href="{% url 'update_blogpost' blogpost.id %}"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a><a class="text-danger mr-2" href="{% url 'delete_blogpost' blogpost.id %}"><i class="nav-icon i-Close-Window font-weight-bold"></i></a></td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
{% endblock %}
