{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
		<div class="row" style="margin-left:20%;">
				<div class="col-md-6">
                        <div class="card mb-5" style="margin:20%">
                            <div class="card-body" style="margin:20%">
                                <form method="POST" novalidate>
								{% csrf_token %}
									<h2>Sign Up</h2>
										{% for field in form %}
									<p>
										{% if field.errors %}
								<ul class="errorlist">
											{% for error in field.errors %}
							<li>{{ error }}</li>
									{% endfor %}
										</ul>
									{% endif %}
	 							{{ field.label_tag }} {{ field }}
									</p>
									{% endfor %}
									<input type="submit" value="Register" />
								</form>
                            </div>
                        </div>
                    </div>
                </div>
</body>
{% endblock %}